version: '3'
services:
  postgres:
    image: 'postgres:10.12-alpine'
    ports:
      - 5432:5432
    env_file:
      - database.env
    volumes:
      - pg-db/:/var/lib/postgresql/data/
    networks:
      - postgres

  pgadmin:
    image: 'dpage/pgadmin4'
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
    volumes:
      - pgadmin:/root/.pgadmin
      - ./servers.json:/tmp/servers.json
    ports:
      - '${PGADMIN_PORT:-5050}:80'
    networks:
      - postgres

  redis:
    image: 'redis'
    ports:
      - 6379:6379

networks:
  postgres:
    driver: bridge

volumes:
  pg-db:
    driver: local
  pgadmin:
    driver: local
